
body {
    /* feel free to update these css variables for a quick theme */
  
    font-family: 'Titillium Web', sans-serif;
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    background-color: var(--color5);
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
} 

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}


.menus {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    
}

.select {
    display: flex;
    flex-direction: column;
    margin: 5px, 0px, 5px, 0px;
}

.select img {
    width: 200px;
}
  
/* footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
} */
